.signinbox{
    height: 70%;
    width: 60%;
    border-radius: 40px;
    border-style: solid;
    border-color: #D0D0D4;
    border-width: 4px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 30px;
    box-sizing: border-box;
}

.signintitle{
    font-weight: 600;
    font-size: 30px;
    padding-left: 35%;
    margin-bottom: 16px;
}

.emailtitle, .passwordtitle{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
}

.emailbox, .passwordbox{
    border-radius: 20px;
    border-color: #D0D0D4;
    border-style: solid;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 16px;
}


.signinbutton{
    height: 40px;
    width: 100%;
    background-color: gray;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    transition: all 0.2s ease;
    margin-top: 3px;
}

.signinbutton:hover{
    background-color: black;
    color: white;
    transition: all 0.2s ease;
    cursor: pointer;
}

.continuewith{
    height: 50px;
    width: 100%;

    display: flex;
    flex-direction: row;
    padding-left: 33%;
    box-sizing: border-box;
    margin-top: 16px;
}

.googlesigninbutton, .applesigninbutton{
    height: 100%;
    width: 50px;
    background-color: white;
    border-style: solid;
    border-color: #D0D0D4;
    border-width: 2px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

:is(.googlesigninbutton, .applesigninbutton):hover{
    cursor: pointer;
}

.signuprow{
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signupbutton{
    color: gray;
    transition: all 0.2s ease;
    font-weight: bold;
}

.signupbutton:hover{
    cursor: pointer;
    color: black;
    transition: all 0.2s ease;
}