.main{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.navbar{
    background-color: white;
    width: 95%;
    height:  11vh;
    display: flex;

}

.functionality{
    width: 95%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 15px;
    box-sizing: border-box;
}
.budgettrack{
    width: 95%;
    height: 23vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 15px;
    padding-top:5px;
    padding-bottom: 5px;
    
}
.analytics-preview{
    width: 95%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
    padding: 15px;
    padding-top:10px;
    padding-bottom: 5px;
}
.transactions-preview{
    width: 95%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
    padding: 15px;
    padding-top:10px;
    padding-bottom: 5px;
}
