.App{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
.navsite{
    background-color: #ECEAFF;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.display-page{
    background-color: white;
    box-sizing: border-box;
    height: 100vh;
    width: 80%;
}

.logo{
    background-color: aqua;
    height: 50px;
    width: 100px;
    margin-bottom: 50px;
}

.dashboard, .analytics, .transactions{
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 30px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ECEAFF;
    padding-left: 15px;
    box-sizing: border-box;
}

:is(.dashboard, .transactions, .analytics):hover{
    background-color: #343438;
    color: white;
    transition: all 0.2s ease;
    cursor: pointer
}

.dashboard.active,
.transactions.active,
.analytics.active {
  background-color: #343438;
  color: white;
}



